# Entorno virtual
.venv/
env/
venv/

# Cachés de Python
__pycache__/
*.pyc

# Configuración de VS Code
.vscode/

# Archivos generados
reports/
src/reports/emotion_chart.png
src/reports/emotion_report.pdf
